# Archivos comunes
HELP.md
.env

# Gradle
.gradle
gradle.properties
*.jar
!gradle/wrapper/gradle-wrapper.jar

# Carpeta de compilación
build/
bin/
out/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# Kotlin
.kotlin
